#search{
    margin-left: 30%;
    width: 40%;
    height: 30px;
    font-size: 16pt;
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom:30px;
}
#search::placeholder{
    font-size: 16pt;
}
.gallery{
    column-count: 1;
}
.gallery img{
 width: 100%;
 margin-bottom: 50px;
}
#cboxCurrent{
    display: none !important;
}
#colorbox{
    width: 80% !important;
}
@media (min-width: 768px)
{
    .gallery{
        column-count: 4;
    }
    #colorbox{
        width: 600px !important;
    }
}